*{
    box-sizing: border-box;
}
body{
    margin: 0;
    margin-top: 70px;
    background-color: #F5F5F5;
    
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #212121;
}
h1{
    color: #ffffff;
    font-weight: bolder;
}
h3{
    color: Black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
p{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title-and-shopping-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
}
.fas{
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}


/* ### ShoppingCart.html Styles ### */

.shoppincart-title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
}
.shoppincart-title{
    color: #212121;
    font-size: 30px;
}
.shoppincart-title-icon{
    color: #212121;
    font-size: 30px;
}
img{
    height: 20rem;
    width: 15rem;
    font-weight: bolder;
}
ul{
  
}