*{
    box-sizing: border-box;
}
body{
    margin: 0;
    margin-top: 70px;
    background-color: white;
    
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #212121;
}
h1{
    color: #ffffff;
    font-weight: bolder;
}
h3{
    color: Black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
p{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
}


.productContainerCart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    border: 2px solid;
    border-color: #5596F5;
    border-radius: 5%;
    margin: 14px;
    padding-bottom: 22px;
    background-color: #F5F5F5;
    width: 200px;

}
.productContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;

}
.title-and-shopping-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
}
.fas{
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}


/* ### ShoppingCart.html Styles ### */

.shoppincart-title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
}
.shoppincart-title{
    color: #212121;
    font-size: 30px;
}
.shoppincart-title-icon{
    color: #212121;
    font-size: 30px;
}

/* ### ShoppingCart.html Styles Finish ### */
.productCard{
    margin-top: 60px;
    text-align: center;
}
.imagelistOfProductsCart{
    width: 100px;
    height: 180px;
   
}
.imagelistOfProducts{
    width: 265px;
    height: 455px;

   
}
.btn-primary{
    background-color: #5596F5;
    border-color: #5596F5;
    font-size: 20px;
    height: 45px;
    border-radius: 5%;
}
p{
    font-size: 13px;
}
h5{
    font-weight: 900;
    font-size: 15px;
}
#count{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainContainerCart{
    display: flex;
    justify-content: center;
    margin-top: -50px;
 
}
.cart-product{
    text-align: center;
}
#totalPrice{
    font-weight: 800;
    padding: 28px;
}
@media  screen and (max-width: 768px) {
    #mainContainerCart{
        display: flex;
        flex-wrap: wrap;
        margin-top: -56px;
        justify-content: end;
        padding: 10px;
     
    }

    #totalPrice{
        font-weight: 800;
        padding: 28px;
    }
    .imagelistOfProductsCart{
    width: 70px;
    height: 100px;
   
    }
    .productContainerCart{
        display: flex;
        margin: 2px;
        width: 170px;
    
    }
}




